/*******************************
* 0 - GENERAL
* 1 - SIDE CART
* 2 - NAV BAR
* 3 - CART
* 4 - PEDIDOS
* 5 - NAVBAR 
* 6 - SHOP
* 7 - HOME
* 8 - PRODUCTOS DESTACADOS
*******************************/

/*******************************/
/** 0 - G E N E R A L      *****/
/*******************************/
.box-shadow{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  padding: 20px 10px 50px 10px;
  margin-top: 10px;
}

.head {
  line-height: 60px;
  background-image: linear-gradient(120deg, #ffba00 0%, #ff6c00 100%);
  background-image: -webkit-linear-gradient(120deg, #ffba00 0%, #ff6c00 100%);
  background-image: -moz-linear-gradient(120deg, #ffba00 0%, #ff6c00 100%);
  background-image: -o-linear-gradient(120deg, #ffba00 0%, #ff6c00 100%);

  padding: 0 30px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

/*Preloader*/
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #FE7700;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}


/*******************************/
/** 1 - S I D E   C A R T  *****/
/*******************************/

.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    height: 100%;
}

.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}
    
/*Right*/
.modal.right.fade .modal-dialog {
    right: 0px;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 4px;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #ffbb00;

}

.side-cart-table input{
  width: 50px;
  text-align: right;
  border: none;
  outline: none;
  border-bottom: 1px solid #DDDDDD;
}
 
.side-cart-table input:focus{
  border-bottom: 1px solid #ffc108;
}


.side-cart-table input[type=number]::-webkit-inner-spin-button, 
.side-cart-table input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}

@media (min-width: 576px){
  .modal-dialog {
      min-width: 700px;
      margin: 1.75rem auto;
  }

/*******************************/
/** 2 -  N A V  B A R      *****/
/*******************************/

.btn-br-0 {
    border: none;
    margin-right: 5px;
}

/*******************************/
/** 3 -   C A R T          *****/
/*******************************/
.spinner {
    width: 100%;
    height: 400px;
    margin-top: 100px;
    text-align: center;
}

.form-cart{
  display: none;
}

.cust-btn{
    line-height: 38px;
    border-radius: 3px;
    padding: 0px 20px;
    display: inline-block;
    font-weight: 500;
    margin-left: 20px;
}

.primary-btn{

}

.gray_btn{
  background: #eeeeee;
  border: 1px solid #eeeeee;
  color: #222222;
}

.gray_btn:hover{
    color: #ffba00;
    background-color: #333;
}

.form-cart label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

#nota-cart {
    font-size: 14px;
    line-height: 19px;
}

.checkout_btn_inner{
  float: right;
}


.cart-list-table input{
  width: 70px;
  text-align: right;
  border: none;
  outline: none;
  border-bottom: 1px solid #DDDDDD;
}

.cart-list-table input{

}
 
.cart-list-table input:focus{
  border-bottom: 1px solid #ffc108;
}

.cart-list-table input[type=number]::-webkit-inner-spin-button, 
.cart-list-table input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}

.cart-list-table tr:first-child th {
    border-top: none !important;
    margin-top: 0px !important;
    background-color: #eeeeee;
}

/*******************************/
/** 4 -  P E D I D O S     *****/
/*******************************/
input[type="search"] {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 4px;
}

table.dataTable tbody tr.even {
    background: #dee2e6;
}

table.dataTable tbody tr:hover {
    background: #ffc108;
}

.tr-active{
  background: #ffc108; 
}

.detail-item {
    font-weight: bold;
    color: #333;
    font-size: 15px;
    line-height: 24px;
}

.pedido-detail {
    display: none;
    margin-bottom: 20px;
    background-color: #efefef;
    padding: 15px 10px;
    border-radius: 4px;
}

.pedido-detail span {
    font-weight: 400;
}

/*******************************/
/** 5 -  N A V B A R       *****/
/*******************************/

.nav-user{
  margin-left: 10px;
}

.nav-user a {
    text-transform: uppercase;
    font-family: "Exo 2";
    font-size: 0.9em;
    font-weight: 600;
    padding: 0px;
    display: inline-block;
    color: #eee;    
}

.nav-user a:hover {
  color: #ffba00 !important;
}

.nav-user i {
    margin-right: 5px;
}

.nav-user ul {
    background-color: #0f1415 !important;
}

.nav-user li.nav-item {
    padding: 10px 3px;
}

/*.nav-user li.nav-item:hover,
.nav-user li.nav-link:hover{
    background: #ffba00;
    color: #fff !important;
}*/

/*******************************/
/** 6 -  S H O P           *****/
/*******************************/
  
  .shop-buttons {
      font-size: 12px;
      margin-bottom: 15px;
      text-align: right;
  }

  .shop-buttons .cust-btn {
      padding: 0px 12px;
      margin-left: 0px;
      line-height: 30px;      
  }

  .shop-buttons i {
      padding-right: 10px;
  }

  .category-list .single-product {
      margin-top: 30px;
      padding: 20px 20px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      border-radius: 4px;
      transition: all 0.25s ease-in-out;
  }

  .single-product:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  .category-list .single-product-list {
      margin-top: 15px;
      padding: 20px 10px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      border-radius: 4px;
      transition: all 0.25s ease-in-out;
  }

  .single-product-list:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  .single-product-list .img-prod {
      height: 40px;
      margin-bottom: 0px;
  }

  .single-product-list .product-details a {
      font-size: 16px;
  }

  .single-product-list .product-details a:hover {
      color: #333;
  }  

  .single-product-list .add-bag {
    margin-top: 0px;
    float: right;    
  }
  
  .single-product-list .add-bag .cust-btn{
    margin-left: 0px;
    padding: 0px 10px;
  }

  .img-prod {
      /*width: 250px;*/
      height: 250px;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
      margin-bottom: 10px;
  } 

  .p-price {
      font-size: 1.2em;
      color: #333;
      font-weight: bold;
  }

  .category-list .single-product {
      margin-top: 0px;
  }
  
  .add-bag {
      margin-top: 10px;
  }

  .add_cart {
      border: none;
  }

  .single-product-list input{
    text-align: right;
    border: none;
    outline: none;
    border-bottom: 1px solid #DDDDDD;
    border-radius: 0px;
    height: 35px;
    float: right;    
  }
   
  .single-product-list input:focus{
    border-bottom: 2px solid #ffc108;
    outline: none;
    box-shadow: none;
  }


  .single-product-list input[type=number]::-webkit-inner-spin-button, 
  .single-product-list input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0;
  }


  input.quantity {
    display: none;
    width: 70px;
    margin-left: 2vw;
  }

  .single-product-list p.p-price {
      margin-bottom: 0px !important;
      line-height: 40px;
  }  

  .pagination a {
      font-size: 15px;
  }

  .pagination a {
      line-height: 3em;
      font-size: 1em;
      width: 3em;
      border-radius: 4px;
  }  

  ul.pagination li {
      margin-left: 3px;
  }

/*******************************/
/** 7 -  H O M E           *****/
/*******************************/

    .single-features.last-child {
        border-right: none;
    }

    .container.family-container {
        /*border: 1px solid #f7f7f7;
        border-radius: 4px;*/
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        text-align: center;
    }

    .family-area .family-inner:first-child {
        border-top: solid 1px #eae6e6;
    }

    .family-inner {
        border-bottom: 1px solid #eae6e6;
    }

    .family-area .family-inner:last-child {
        border-bottom: none;
    }

    .single-family {
        color: #505050;
        text-transform: uppercase;
        font-size: 1.2em;
/*        font-weight: 600;  */
        padding: 0px; 
        border-bottom: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;          
    } 

    .single-family:hover {
        color: #ffffff !important;
        background: -webkit-linear-gradient(120deg, #ffba00 0%, #ff6c00 100%);
    }

    a.family-link {
        transition: none !important;
    }

    a.family-link p{
        transition: none !important;
        color: inherit !important;
        margin-bottom: 0px;
        height: 150px;
        padding: 50px 15px;
    }

    .family-widget {
        /*border: 1px solid #444;*/
        height: 100%;
        width: 100%;
    }

/*******************************/
/** 8 - PRODUCTOS DESTACADOS  **/
/*******************************/

    .featured-box {
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        border-radius: 4px;
        padding: 10px;        
    }

    .featured-box:hover {
        -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    .productos-small img {
        width: 80px;
    }








/**/
#active-filters button {
    background: transparent;
    border: transparent;
    color: black;  
    cursor: pointer;
}

#active-filters {
    display: inline-block;
    width: 100%;
}

.single-filter {
    margin: 5px;
    background-image: linear-gradient(120deg, #ffba00 0%, #ff6c00 100%);
    background-image: -webkit-linear-gradient(120deg, #ffba00 0%, #ff6c00 100%);
    padding: 5px;
    border-radius: 3px;
    color: white;
}